# Build products
components_lsdk*
build_lsdk*
logs
uuu
configs/.sdk.cfg
tools/bld
.bash*
*.tgz
*.tar.zst
*.log
*.o
# Ignore secrets files
rover-gcr-api-key.json
rover-gcr-secret.yaml
lfr-promtail-secret.yaml
wifi-secrets.env
