[Unit]
Description=Camera Install Script
ConditionPathExists=/usr/local/bin/camera_install.sh

[Service]
EnvironmentFile=/etc/environment
Type=oneshot
ExecStart=/usr/local/bin/camera_install.sh
TimeoutSec=300
Restart=on-abnormal