[Unit]
Description=Camera Install Script
ConditionPathExists=/opt/fulfil/camera_install.sh
Wants=network-online.target
After=network-online.target


[Service]
EnvironmentFile=/etc/environment
Type=oneshot
ExecStartPre=/bin/sleep 100
ExecStart=/opt/fulfil/camera_install.sh
TimeoutSec=300
