[Unit]
Description=First Boot Bootstrapping Script
ConditionPathExists=/opt/fulfil/firstboot.sh
#so we ignore when running on sd card
ConditionPathExists=!/usr/bin/install_debian.sh

[Service]
EnvironmentFile=/etc/environment
Type=oneshot
ExecStart=/opt/fulfil/firstboot.sh
TimeoutSec=300
Restart=on-abnormal
